-# .container.card-container
  -# %section
  -#   .row
  -#     .col-sm-12
  -#       %h3.separator-title Who we are
  -#   .row
  -#     .col-sm-12.abstract
  -#       %p{:style => "text-align: justify;"}
  -#         %strong EcoPortal
  -#         employs an international staff with wide-ranging expertise and multidisciplinary skills. Staff members, roles and contact details are available below.
-# %center
%h3.separator-title Team members
.container.team-card-container
  .row.team-cards
    .col-sm-2.col1.team-card-content
      = image_tag("static/arvanitidis.png", style: "vertical-align: middle;")
    .col-sm-4.col2.team-card-content
      %h4 Christos Arvanitidis
      %p Chief Executive Officer
      %p Statutory Seat
      %p ceo[at]lifewatch.eu
    .col-sm-2.col1.team-card-content
      = image_tag("static/aranda.jpg", style: "vertical-align: middle;")
    .col-sm-4.team-card-content.col2.col4
      %h4 Juan-Miguel González-Aranda
      %p Chief Technical Officer
      %p ICT Core
      %p cto[at]lifewatch.eu
  .row.team-cards
    .col-sm-2.col1.team-card-content
      = image_tag("static/basset.jpg", style: "vertical-align: middle;")
    .col-sm-4.col2.team-card-content
      %h4 Alberto Basset
      %p Interim Director of Service Centre
      %p Member of the General Assembly
      %p alberto.basset[at]lifewatch.eu
    .col-sm-2.col1.team-card-content
      = image_tag("static/van_tienderen.jpg", style: "vertical-align: middle;")
    .col-sm-4.team-card-content.col2.col4
      %h4 Pieter H. Van Tienderen
      %p Interim Director of VLab & Innovation Centre
      %p peter.vantienderen[at]lifewatch.eu
  .row.team-cards
    .col-sm-2.col1.team-card-content
      = image_tag("static/albanes.jpg", style: "vertical-align: middle;")
    .col-sm-4.col2.team-card-content
      %h4 Antonio José Sáenz Albanés
      %p e-infrastructure operation coordinator
      %p ICT Core
      %p aj.saenz[at]lifewatch.eu
    .col-sm-2.col1.team-card-content
      = image_tag("static/cano.jpg", style: "vertical-align: middle;")
    .col-sm-4.team-card-content.col2.col4
      %h4 Francisco Manuel Sánchez Cano
      %p e-Infrastructure Resources Integration Coordinator
      %p ICT Core
      %p franciscom.sanchez[at]lifewatch.eu
  .row.team-cards
    .col-sm-2.col1.team-card-content
      = image_tag("static/aguilar.jpg", style: "vertical-align: middle;")
    .col-sm-4.col2.team-card-content
      %h4 Fernando Aguilar
      %p Developer
      %p ICT Core
      %p fernando.aguilar[at]lifewatch.eu
    .col-sm-2.col1.team-card-content
      = image_tag("static/fiore.jpg", style: "vertical-align: middle;")
    .col-sm-4.team-card-content.col2.col4
      %h4 Nicola Fiore
      %p Interim Service Centre ICT Coordinator
      %p Service Centre
      %p nicola.fiore[at]lifewatch.eu
  .row.team-cards
